{% extends 'base.html.twig' %}

{% block body %}
    <h1>Password_Reset_Token</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ password_Reset_Token.id }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ password_Reset_Token.token }}</td>
            </tr>
            <tr>
                <th>Customerid</th>
                <td>{{ password_Reset_Token.customerId }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if password_Reset_Token.created %}{{ password_Reset_Token.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('password_reset_token_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('password_reset_token_edit', { 'id': password_Reset_Token.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
